<footer>
  <div class="container">
    <br>
      <p class="text-center" class="text-muted" >
        <a target="_blank" href="https://docs.google.com/spreadsheets/d/1-Z9jHyi_CZA8jQQIkLNLqiCyGrmnVipWPWkOYvqo9Ms/edit?usp=sharing">Estimate</a> |
        <a target="_blank" href="https://drive.google.com/file/d/1P-R7zOIQdl4l5KJMfF9PD68DlBsnClgB/view?usp=sharing">Classes</a> |
        <%= link_to 'Privacy policy', pages_privacy_policy_path %>
      </p>


      <!-- <div class="fb-page" data-href="https://www.facebook.com/1HR.HOUSE/" data-tabs="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/1HR.HOUSE/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/1HR.HOUSE/">HR-хата</a></blockquote></div> -->

      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F1HR.HOUSE%2F&tabs&width=750&height=154&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=147999055894846" width="750" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" target="_top"></iframe>
  </div>
</footer>

