<h1>Політика конфіденційності</h1>
<p>Власники данного сайту ставляться зі всією відповідальністю до Вашої конфіденційності. На цій сторінці Ви дізнаєтеся про нашу політику конфіденційності, а також про те, як ми обходимося із персональними даними, які ми збираємо та отримуємо.</p>

<p>З метою підвищення якості обслуговування та безпеки зберігання даних користувачів, Компанія залишає за собою право змінювати політику конфіденційності на власний розсуд.
Збір персональних даних</p>
<p>Персональна інформація може стати доступною для Компанії у різні способи, наприклад, через cookies веб-сайту, під час реєстрації у програмних продуктах Компанії, шляхом обробки Ваших відповідей в опитуваннях або контентах, що переглядаються.</p>
<p>Під час реєстрації на сайті Компанії або під час реєстрації через клієнтський додаток, Компанія запитує у Вас персональні дані, які можуть включати повне ім’я, електронну адресу, дату народження, стать, поштовий індекс, сферу інтересів, податкову інформацію та інші відомості з метою забезпечення кращого обслуговування та відповідності нашої діяльності до законодавства. Компанія може збирати відомості щодо web-активності клієнтів із допомогою лог-файлів свого сервера.
</p>
<p>Крім того, Компанія може збирати надану Вами персональну інформацію під час свят, рекламних кампаній, опитувань у режимі реального часу, що проводиться Компанією та її партнерами, а також інших заходів.
Як використовуються Ваші персональні дані.</p>
<p>Головною метою збору персональних даних для Компанії є забезпечення найкращого обслуговування своїх клієнтів та споживачів контенту.</p>
<p>Щоб стати ближче до споживачів контенту та зрозуміти їх інтереси Компанія опрацьовує та досліджує персональну інформацію, зібрану з різних джерел.
Захист персональних даних.</p>
<p>Компанія не продає, не розповсюджує і не здає в оренду Ваші персональні дані третім особам або компаніям за винятком випадків, коли це безпосередньо передбачено законодавством.
Використання технології cookies.</p>
<p>Для покращення роботи нашого сайту ми застосовуємо технологію "cookies", щоб Ваші відвідування були зручнішими. "Сookies" – це невеликі записи, що робить веб-сервер у Вашому веб-браузері. Це дозволяє Вашому браузеру зберігати інформацію, яку у подальшому може запитати наш веб-сервер.</p>
<p>Загалом "cookies" використовуються:
<li>для ідентифікації користувача;</li>
<li>для підрахунку числа відвідувань. Кожен клієнтський браузер отримує унікальний запис, що у подальшому використовується;</li>
<li>для того, щоб розрізняти відвідувачів сайту.</li>
</p>
<p>Повідомлення щодо змін<br>
Компанія залишає за собою право доповнювати або змінювати свою політику конфіденційності у будь-який час. У разі значних змін Компанія повідомить Вам про це через надсилання повідомлень на Ваш email, записаний у клієнтській базі даних, або через розміщення добре помітного повідомлення на своєму веб-сайті.</p>



